:root {
    --text-front: "Roboto", sans-serif;
    --logo:
;   --accent-color: #2196F3; 
}

body {
  font-family: "Roboto", sans-serif;
 }

ul {
  list-style: none;
}
/* nav */
.logo-name-1part {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-name-2part {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  }
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;}




.nav-list-link:hover,
.nav-list-link:focus {
 color: var(--accent-color)
}



.address-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575; 
}

.address-mail-link:hover,
.address-mail-link:focus {
  color: var(--accent-color)
}

.address-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
 
}

.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color)
}
a.address-link,
a.address-mail-link,
a.address-tel-link,
a.address-map-link {
  font-style: normal;
}
.headert {
background: #FFFFFF
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF; 
}

.modal-btn {
  background: #2196F3;
  color: #ffffff;
}
/*hero*/
.hero,
.footer {
background: #2F303A
}

/* details section */
.details-list-points {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;  
}

.details-overview {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.details,
.about-us {
  background: #E5E5E5
}

.submain-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;    
}
/*our team*/
.our-team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;  
}

.our-team {
  background: #F5F4FA
}
/*footer*/
.logo-bottom-2part {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*footer-address*/

.address-map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF; 
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;  
  color: rgba(255, 255, 255, 0.6);
}

/*----Portfolio----*/

.sub-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
}

.sub-nav-link:hover,
.sub-nav-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.progect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;  
}
