:root {
    --text-front: "Roboto", sans-serif;
    --sub-title-color: #757575;
    --accent-color: #2196F3; 
    --title-color: #212121;
    --white-color-background: #FFFFFF;
    --backgrount-section: #E5E5E5;
    --team-subnav-link: #F5F4FA;
    --address-link:  rgba(255, 255, 255, 0.6);
    --hero: #2F303A;
    --logo-2part: #000000;
  }

body {
  font-family: "Roboto", sans-serif;
 }

ul {
  list-style: none;
}
/* nav-logo */
.logo-name-1part,
.logo-name-2part,
.logo-bottom-2part {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-name-2part {
  color: var(--logo-2part);
}
.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  }
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);}


.nav-list-link:hover,
.nav-list-link:focus {
 color: var(--accent-color)
}


.address-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--sub-title-color); 
}

.address-mail-link:hover,
.address-mail-link:focus {
  color: var(--accent-color)
}

.address-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--sub-title-color);
 
}

.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color)
}
a.address-link,
a.address-mail-link,
a.address-tel-link,
a.address-map-link {
  font-style: normal;
}
.headert {
background: var(--white-color-background)
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color-background); 
}

.modal-btn {
  background: var(--accent-color);
  color: var(--white-color-background);
}
/*hero*/
.hero,
.footer {
background: var(--hero)
}

/* details section */
.details-list-points {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);  
}

.details-overview {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--sub-title-color);
}
.details,
.about-us,
.sub-nav {
  background: var(--backgrount-section)
}

.submain-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);    
}
/*our team*/
.our-team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.our-team-jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-title-color);  
}

.our-team {
  background: var(--team-subnav-link)
}
/*footer*/
.logo-bottom-2part {
  color: var(--white-color-background);
}
/*footer-address*/

.address-map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color-background); 
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;  
  color: var(--address-link);
}

/*----Portfolio----*/

.sub-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--team-subnav-link);
}

.sub-nav-link:hover,
.sub-nav-link:focus {
  color: var(--white-color-background);
  background-color: var(--accent-color);
}

.progect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--sub-title-color);  
}
